p.text:not(:empty) {
     color: green;
}

p.text:not(:empty)::after {
     content: attr(title);
}

#Some_id::after {
    content: '123';
    color: red;
    text-decoration: line-through;
}

p:first-of-type {
    text-decoration: line-through;
}

p.main_link::first-line {
    color: rgb(255, 136, 0);
}


.main_link {
    color: red;
    text-decoration: none;
}

.main_link:hover {
    color: blue;
    text-decoration:underline;
    cursor: pointer;
}

.main_link:active {
    text-decoration: line-through;
}

.main_link:visited {
    text-decoration: line-through;
    color: grey;
}

input{
    color: blue;
}

input:focus {
    color: red;
}