@import url('https://fonts.googleapis.com/css2?family=Gveret+Levin&family=Idiqlat:wght@200;300;400&display=swap');

.main_text {
    color: #ff04c4;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    font-family: "Idiqlat", serif;

    text-transform: lowercase;
    word-spacing: 20px;
    letter-spacing: 2px;
    line-height: 40px;
    text-decoration: line-through;

    cursor: wait;
}